{% load static %}
{% static "images" as baseURL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{% static 'styles/styling.css' %}">
    <title>LoginPage</title>
</head>
<body class="body">

<div>
<form action="login" method="post">
    {%csrf_token%}

    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit">
</div>
</form>
    {% for message in messages %}
    <h3> {{message}}</h3>

    {% endfor %}

</body>
</html>