<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styling.css' %}">
    <title>participate page</title>

</head>
<body class="body">
<div>
<form action="" method="POST" >
    {%if user.is_authenticated %}
            {% csrf_token %}
            {{ part.as_p }}
    <input type ='submit'>
    {%else%}
    <p>first you have to  login to participate</p>
     <a href="home">Login</a>
    {%endif%}
</form>
</div>

</body>
</html>